/* Panier.css */
.containerPanier {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    text-align: center;
}

.panier {
    height: 660px;
    /* Hauteur du panier */
    width: 600px;
    /* Largeur du panier */
    padding: 20px;
    /* Espacement intérieur */
    background-color: #fff;
    /* Couleur de fond */
    border-radius: 15px;
    /* Bordures arrondies */
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    /* Ombre */
    margin: 20px;
    /* Espacement extérieur */
}


.panier h2 {
    text-align: center;
    /* Centre le titre */
}

.panier ul {
    list-style: none;
    /* Supprime les puces de liste */
    padding: 0;
}

.panier li {
    margin-bottom: 10px;
    /* Espacement entre les éléments de liste */
}

.panier input[type="number"] {
    width: 50px;
    /* Largeur du champ de quantité */
    margin-left: 10px;
    /* Espacement à gauche */
}

.panier button {
    margin-left: 10px;
    /* Espacement à gauche */
    background-color: #2e70c6;
    /* Couleur de fond du bouton */
    color: #fff;
    /* Couleur du texte du bouton */
    border: none;
    padding: 5px 10px;
    /* Espacement intérieur du bouton */
    border-radius: 5px;
    /* Bordures arrondies */
    cursor: pointer;
}

.miniLogo {
    width: 50px;
    height: 50px;
    display: block;
    /* Block = élément qui prend toute la largeur disponible */
    margin: 0 auto 20px;
    /* Marge en bas et centrage horizontal */
}

.addons {
    margin-top: 20px;
    /* Espacement vers le haut */
}

.addon-products {
    display: flex;
    justify-content: space-around;
}

.addon-product {
    width: 150px;
    /* Largeur de chaque produit */
    padding: 10px;
    /* Espacement intérieur */
    border: 1px solid #ddd;
    /* Bordure */
    border-radius: 5px;
    /* Bordures arrondies */
    text-align: center;
    /* Centrage du texte */
}

.logoPanier {
    width: 80px;
    height: 80px;
    display: block;
    /* Block = élément qui prend toute la largeur disponible */
    margin: 0 auto 20px;
    /* Marge en bas et centrage horizontal */
}

.total {

    margin-top: 20px;
    /* Espacement vers le haut */
    margin-bottom: 20px;
    /* Espacement vers le bas */
}

.livrasion {

    border: 1px solid #ddd;
    /* Bordure */
    border-radius: 5px;
    /* Bordures arrondies */
    padding: 10px;
    /* Espacement intérieur */
    text-align: center;
    /* Centrage du texte */
    margin-bottom: 20px;
    /* Espacement vers le bas */




}