/* body de accueil (image de fond) */
/* .catalogue-body {
    background-color: #BBE2EC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position: center;
    background-size: 150% 200%;
} */

.miniLogo {
    max-width: 60px;
    margin-right: 20px;
    /* Add margin to separate logo from company name */
}

.containerCatalogueLogo {
    background-color: #BBE2EC;

    display: flex;
    align-items: center;
    width: fit-content;
}

.containerArticle {
    background-color: #a6e5cb;
}

.companyName {
    flex-grow: 1;
    /* Allow the company name to grow and occupy remaining space */
    font-family: "Comic Sans MS", cursive;
    color: #0D9276;
}

.containerSearchBarTitle {
    margin-top: 10px;
    border: 1px solid red;
}

.catalogueTitle {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-family: Merriweather;
    font-size: 80px;
}

.containerTitle {
    text-align: center;

}

.containerSearchBar {
    margin-top: 20px;
}

.searchButton {
    padding: 8px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.searchIpnut {
    padding: 8px;
    width: fit-content;
    /* Adjust as needed */
}



/*Modification de bootstrap*/
.navbar {
    padding-top: 0 !important;
    /* Pour enlever les bandes blanche */
    padding-bottom: 0 !important;
    /* Pour enlever les bandes blanche */
}