body.infosCompteBody {
    margin: 0;
    padding: 0;
    background: url('../public/images/pharma.png');
}

.infosCompte-body-container {
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
}

.infosCompte-logo {
    max-width: 200px;
    margin-bottom: 20px;
}

.infosCompte-button {
    background-color: #0D9276;
    border: none;
    color: white;
    /* flex-direction: column; */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 15px;
    cursor: pointer;
}

.infosCompte-title {
    font-family: cursive;
    font-size: 36px;
    font-weight: bold;
    color: #0D9276;
    margin: 10px 0;
}